includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            identifier: property.onlyWritten
        -
            identifier: missingType.iterableValue
        -
            identifier: instanceof.alwaysFalse
        -
            identifier: nullCoalesce.offset
