includes:
    - phpstan-baseline.neon
parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            identifier: property.onlyWritten
        -
            identifier: missingType.iterableValue
        -
            identifier: instanceof.alwaysFalse
        -
            identifier: nullCoalesce.offset
